<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/contact.css" rel="stylesheet" type="text/css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact</title>
</head>
<body>

<div class="container">
    <form action="https://www.google.com">
  
      <input type="text" id="fname" name="name" placeholder="Your name..">
        <br>
      <input type="text" id="lname" name="email" placeholder="Your email..">
        <br>
      <textarea id="subject" name="Message" placeholder="Message" style="height:200px"></textarea>
        <br>
      <input type="submit" value="Submit">
  
    </form>
  </div>
</body>
<html lang="en">
</html>