<!--Assign2-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section>
        <header>
            <h1>Ted Herring</h1>
            <div class="topnav">
                <div class="dropdown">
                    <a class="no_drop" href="index.html">HOME</a>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">WHAT I'VE DONE</button>
                    <div class="dropdown-content">
                        <a href="../../assign2/3-portfolio/contact/contact_index.html">Contact</a>
                        <a href="work_experience/computer_science/computer_science_index.html">Computer Science</a>
                        <a href="work_experience/esl/esl_index.html">ESL</a>
                        <a href="work_experience/food/food_index.html">Food</a>
                        <a href="work_experience/customer_service/customer_service_index.html">Customer Service</a>
                        <a href="work_experience/mgmt/mgmt_index.html">Management</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">WHAT I'VE STUDIED</button>
                    <div class="dropdown-content">
                        <a href="school/portland_state.html">Portland State University</a>
                        <a href="school/new_school.html">New School University</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">WHAT I LIKE</button>
                    <div class="dropdown-content">
                        <a href="likes/outdoors/outdoors_index.html">Outdoors</a>
                        <a href="likes/travel/travel_index.html">Travel</a>
                        <a href="likes/computers/computers_index.html">Computers</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="no_drop" href="future/future_index.html">WHERE I'M GOING</a>
                </div>
                <div class="dropdown">
                    <a class="no_drop" href="images/resume.jpg">TL;DR</a>
                </div>
                <div class="dropdown">
                    <a class="no_drop" href="../contact/index.ejs">CONTACT</a>
                </div>
            </div>
        </header>
        
        <section>
            <%- body %>
        </section>
        <footer>
        
        </footer>
    </section>
</body>
</html>