<!--Assign2-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section>
        <header>
            <h1>Ted Herring</h1>
            <div class="topnav">
                <div class="dropdown">
                    <a class="no_drop" href="/">HOME</a>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">WHAT I'VE DONE</button>
                    <div class="dropdown-content">
                        <a href="esl">ESL</a>
                        <a href="food">Food</a>
                        <a href="customer_service">Customer Service</a>
                        <a href="mgmt">Management</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">WHAT I'VE STUDIED</button>
                    <div class="dropdown-content">
                        <a href="portland_state">Portland State University</a>
                        <a href="new_school">New School University</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">WHAT I LIKE</button>
                    <div class="dropdown-content">
                        <a href="outdoors">Outdoors</a>
                        <a href="travel">Travel</a>
                        <a href="computers">Computers</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="no_drop" href="future">WHERE I'M GOING</a>
                </div>
                <div class="dropdown">
                    <a class="no_drop" href="tldr">TL;DR</a>
                </div>
                <div class="dropdown">
                    <a class="no_drop" href="contact">CONTACT</a>
                </div>
            </div>
        </header>
        
        <section>
            <%- body %>
        </section>
        <footer>
        
        </footer>
    </section>
</body>
</html>