Though not customer service in the strictest sense, though still in retail, my first job in NYC was for the now infamous Dov Charney  of American Apparel.  Though now defunct, the clothing company was just at the start of their meteoric assent a nationally known brand.  I worked as a location manager and helped open several stores in Manhattan, Brooklyn, Queens and an outlet upstate.  I also oversaw the remodel of their SOHO location.  It was a wild time, though eventually the owner’s lack of organization and general sleaziness drove me to greener pastures. 

<a href="management">management</a>
