After leaving American Apparel I started as customer service manager at EyeSave.com an online retail company.  This was a much needed change and I became the beginning, middle and end of EyeSave’s customer service department.  The phone number on their website was a direct line to me and I handled all things customer related.  It was stressful at times but allowed me the flexibility to return to school and finish my BA.  

As over the years I was with EyeSave the company flourished and I was able to hire two employees to handle the phones and I was able to help out elsewhere in the office/warehouse.  It was a great job for those years, I eventually left as I had finished school and it was time to head back to Portland. 

<a href="management">management</a>