I started at Fire On The Mountain after  finishing my degree in NYC and moving back to Portland.  Though I had been considering teaching ESL I wasn’t quite ready to take the plunge.  I had never been a cook before and I always wanted to try it, so I did.  Nearly two years, quickly working up to running the line at the newly opened Burnside location.  .

After returning from Asia I returned to the same restaurant where I managed a satellite wing stand at Blazer games at the Moda Center.  Though that was going fine I was presented with an opportunity to move to the mid west and help my good friend open Nite Owl in Omaha, Nebraska.  Similar to my  ESL experience, I went into this venture planning on a short-term commitment and ended up leaving over two years later.   

Though I ended up as the general manager, my initial focus getting the restaurant open was the kitchen and the food.  I helped workshop the food menu, adding a few of my own things as well.  I helped setup the kitchen and managed the ordering.  I also made sure we were tight on our costs as we were opening on a shoestring.

After the mid west experience began to wear thin I decided to head back to Portland (again) and start my trek into grad school, and back to Fire On The Mountain for a few days a week, this time though, in the front.

<a href="management">management</a>
