Though my early work experience lies in customer service, I didn’t start in the front of the house in the restaurant business.  It’s not really until recently have I moved from back to the front.  My experience really started behind the bar at Nite Owl where I was trained in crafting cocktails.  Nowadays I work in the front for Fire On The Mountain when I’m not at school or programming. 

<a href="management">management</a>
