Working in restaurants has been my fallback position for most of my life, from dishwasher to general manager and all things in between

<a href="foh">foh</a>
<a href="boh">boh</a>
<a href="management">management</a>
