I want to continue to travel the world, here’s a short list of some of my travels.

<a href="british_isles">british isles</a>
<a href="europe">europe</a>
<a href="mexico">mexico</a>
<a href="middle_east">middle east</a>
<a href="se_asia">se asia</a>