In 2008 I packed my bags and got on a one-way flight to Bangkok with a plan to teach ESL for a year.  Nearly 5 years later I returned.

<a href="ih_bangkok">ih Bangkok</a>
<a href="ila_vietnam">ila vietnam</a>
<a href="lsa">ih Bangkok</a>